run = "bash run.sh"
hidden = [".git", "node_modules", ".config"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[deployment]
run = ["sh", "-c", "bash run.sh"]
deploymentTarget = "cloudrun"
ignorePorts = false 